<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.dcascos.motogo">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" />

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_motogo"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_motogo_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.MotoGo">
		<activity android:name=".layouts.SplashScreen">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".layouts.signInSignUp.SignIn" />
		<activity android:name=".layouts.signInSignUp.SignUp" />
		<activity android:name=".layouts.signInSignUp.ResetPassword" />
		<activity android:name=".layouts.signInSignUp.ResetPasswordSent" />
		<activity android:name=".layouts.Home" />
		<activity android:name=".layouts.NewPost" />
		<activity android:name=".layouts.EditProfile" />

		<meta-data
			android:name="preloaded_fonts"
			android:resource="@array/preloaded_fonts" />
	</application>

</manifest>